@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,500&family=Source+Sans+Pro&display=swap');

body {
  color: #1D1F22;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.header {
  
}

.container {
  
  margin: 0 auto;
  max-width: 1200px;
  }

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-list {
  display: flex;
}

.menu-link {
  text-transform: uppercase;
  font-weight: 400;
  padding: 28px 16px 32px 16px;
  box-sizing: border-box;
}

.menu-link:hover{
  color: #5ECE7B;
  cursor: pointer;
  
  border-bottom: 2px solid #5ECE7B;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}

.logo {
  
  width: 30px;
  height: 30px;
  background-size: contain;
  cursor: pointer;
}

.menu-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  
}

.currency {
  position: relative;
  
  cursor: pointer;
  
}

.currency p {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.currency p::after {
  content: url('../assets/svg/arrow-down.svg');
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.currency-switcher {
  display: none;
}

.currency-switcher.active{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  position: absolute;
  top: 65px;
  right: 0px;
  z-index: 10;
  min-height: 170px;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.currency-switcher p {
  line-height: 28px;
}

.empty-cart {
  background-image: url('../assets/svg/cart.svg');
  width: 20px;
  height: 20px;
  margin-left: 22px;
  background-size: contain;
  cursor: pointer;
}

.main {
  padding: 80px 0px 190px 0px;
}

.main.blur {
  background: rgba(57, 55, 72, 0.22);
  opacity: 0.5;
}

.title {
  text-transform: capitalize;
  font-size: 42px; 
  font-weight: 400;
  line-height: 68px;
}

.card-wrapper {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 100px;
}

.card {
  
  padding: 16px;
}

.image img {

  background-size: contain;
  width: 200px;
  height: 200px;
}

.card-content {
  padding-top: 24px;
}

.card-title {
  line-height: 29px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 300;
}

.card-price {
  line-height: 29px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 500;
}

.cart-wrapper {
  background-color: #fff;
  min-width: 325px;
  min-height: 540px;
  padding: 8px 16px 20px 16px;
  position:absolute;
  top: 80px;
  z-index: 10;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cart-buttons button {
  padding: 16px 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  min-width: 140px;
}

.cart-buttons button:last-child {
  background-color: #5ECE7B;

}

/* CartProduct */

.cart-product-wrapper {
  width: 1100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

/* CartModal */


