@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,500&family=Source+Sans+Pro&display=swap');

body {
  color: #1D1F22;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  line-height: 0;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.header {
  
}

.container {
  
  margin: 0 auto;
  max-width: 1200px;
  }

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-list {
  display: flex;
}

.menu-link {
  text-transform: uppercase;
  font-weight: 400;
  padding: 28px 16px 32px 16px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.menu-link:hover{
  color: #5ECE7B;
  cursor: pointer;
  
  border-bottom: 2px solid #5ECE7B;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}

.logo {
  background-image: url('../assets/svg/logo.svg');
  width: 30px;
  height: 30px;
  background-size: contain;
  cursor: pointer;
}

.menu-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  
}

.currency {
  position: relative;
  
  cursor: pointer;
  
}

.currency p {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.currency p::after {
  content: url('../assets/svg/arrow-down.svg');
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.currency-switcher {
  display: none;
}

.currency-switcher.active{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  position: absolute;
  top: 65px;
  right: 0px;
  z-index: 10;
  background-color: #fff;
  min-height: 170px;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.currency-switcher ul li {
  line-height: 28px;
  cursor: pointer;
}

.empty-cart {
  position: relative;
  background-image: url('../assets/svg/cart.svg');
  width: 20px;
  height: 18px;
  margin-left: 22px;
  background-size: contain;
  cursor: pointer;
}

.empty-cart-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  content: '2';
  color: #fff;
  height: 20px;
  width: 20px;
  background-color: #1D1F22;
  border-radius: 50%;
  font-family: 'Roboto';
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
}

/* .main {
  padding: 80px 0px 190px 0px;
} */

.main.blur {
  background: rgba(57, 55, 72, 0.22);
  opacity: 0.5;
}

.title {
  text-transform: capitalize;
  font-size: 42px; 
  font-weight: 400;
  line-height: 68px;
}

.subtitle {
  font-family: 'Raleway';
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.card-wrapper {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 100px;
}

.card {
  position: relative;
  padding: 16px;
  transition: all .3s ease;
}

.card-bucket {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  bottom: 70px;
  border-radius: 100%;
  width: 52px;
  height: 52px;
  background: #5ECE7B;
  cursor: pointer;
  transition: all .3s ease;
}

.card-bucket div {
  background-image: url('../assets/svg/cart.svg');
  color: #fff;
  width: 20px;
  height: 20px;
  background-size: contain;
  cursor: pointer;
  
}

.card-bucket:hover {
  transform: scale(1.05);
}

.card:hover {
  box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
  cursor: pointer;
}

.image img {

  background-size: contain;
  width: 200px;
  height: 200px;
}

.card-content {
  padding-top: 24px;
}

.card-title {
  line-height: 29px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 300;
}

.card-price {
  line-height: 29px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 500;
}

.cart-wrapper {
  background-color: #fff;
  min-width: 325px;
  min-height: 540px;
  padding: 8px 16px 20px 16px;
  position:absolute;
  top: 80px;
  z-index: 10;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
}

.cart-buttons button {
  display: inline-block;
  padding: 16px 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease ;
}

.cart-buttons button:hover {
  background-color: #5ECE7B;
  border-color: transparent;
  color: #fff;
}

/* CartProduct */

.cart-product-wrapper {
  width: 1100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

/* Product-page */

.product-page {
  padding-top: 48px; 
}

.product-container {
  display: flex;
  gap: 100px;
}

.product-page-wrapper {
  min-width: 1000px;
  min-height: 500px;
  display: flex;
  gap: 80px;
}

.product-aside {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.product-aside-image {
  width: 80px;
  height: 80px;
  background-color: #1D1F22;
}

.product-aside-image img {
  width: 100%;
  height: 100%;
}

.product-container-image {
  width: 610px;
  height: 510px;
  overflow: hidden;
}

.product-container-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Product-data*/
.product-data {
  max-width: 300px;
}

.product-data .name {
  font-family: 'Raleway';
font-size: 30px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
}

.product-data .name span{
  font-family: 'Raleway';
font-size: 30px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}

.product-data h3 {
  margin-top: 30px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.product-attributes {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.product-attributes div {
  border: 1px solid #1D1F22;
  padding: 14px 27px;
  cursor: pointer;
  transition: all 0.3s ease
}
.product-attributes-modal div {
  cursor: pointer;
  border: 1px solid #1D1F22;
  width: 45px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease
}

.product-attributes div:hover {
  background-color: #1D1F22;
  color: #fff;
}


.current-price {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 12px;
}
.current-price-modal {
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  padding: 12px;
}


.product-data button {
  background-color: #5ECE7B;
  color: #fff;
  width: 100%;
  padding: 16px 0px;
  margin: 20px 0 40px 0;
}

/* CartPage */

.cart-page {
  padding-top: 80px;
}

.cart-page-wrapper {
  padding: 60px 0px;
}

.cart-page-item {
  padding: 20px 0px;
  border-top: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
}


.cart-product-title {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.cart-product-title-modal {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  letter-spacing: 0em;
  text-align: left;
}

.cart-page-right {
  min-width: 200px;
  min-height: 185px;
  display: flex;
  gap: 12px;
}

.cart-page-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-page-buttons button {
  font-size: 30px;
  border: 1px solid #1D1F22;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.cart-page-buttons-modal button {
  font-size: 15px;
  border: 1px solid #1D1F22;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.cart-page-image {
  width: 140px;
  overflow: hidden;
}

.cart-page-image img {
  width: 100%;
  height: 100%;
 object-fit: contain;
}

.cart-page-buttons  p {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
}
